{{!< layout}} 
{{#extend "pageName"}} Complete Profile{{/extend}} 

{{#extend "customCSS"}} 
<link rel="stylesheet" href="/css/complete.css">
<link rel="stylesheet" href="/css/form.css">
{{/extend}}

{{#extend "heroTitle"}}Complete Profile{{/extend}}

{{#extend "breadcrumbs"}}
<a href="">Home</a> / Complete Profile
{{/extend}}

{{#extend "body"}}
<section class="section">
    <div class="title">Complete Profile</div>
    <div class="container content">
        <div class="">

            <form class="fifty form" method="post" action="">

                <label for="city">
                    <div>City:</div>
                    <select id="city" name="city">
                        <option value="">- City -</option>
                        {{#each cities}}
                        <option value="{{ this.name }}">{{ this.name }}</option>
                        {{/each}}
                    </select>
                </label>

                <label for="preferred_category">
                    <div>Preferred Category:</div>
                    <select id="preferred_category" name="preferred_category">
                        <option value="">- Preferred Category -</option>
                        {{#each categories}}
                        <option value="{{ this.name }}">{{{ this.name }}}</option>
                        {{/each}}
                    </select>
                </label>
                <label for="academic_qualification">
                    <div>Academic Qualification:</div>
                    <select id="academic_qualification" name="academic_qualification">
                        <option value="">- Academic Qualification -</option>
                        {{#each qualifications}}
                        <option value="{{ this.name }}">{{{ this.name }}}</option>
                        {{/each}}
                    </select>
                </label>
                <label for="keywords">
                    <div>Key Skills:</div>
                    <input type="text" id="keywords" placeholder="hello, there, anyone, here" name="keywords">
                </label>
                <button class="btn">Proceed to Next Step</button>
            </form>

        </div>
    </div>
</section>
{{/extend}}